/* Inter */
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter_24pt-Regular.woff') format('woff'),
		url('../fonts/Inter/Inter_24pt-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter_24pt-Medium.woff') format('woff'),
		url('../fonts/Inter/Inter_24pt-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter_24pt-SemiBold.woff') format('woff'),
		url('../fonts/Inter/Inter_24pt-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-Regular.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-Medium.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-DemiBold.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-DemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Hoves';
	src: url('../fonts/Hoves/TTHoves-Bold.woff') format('woff'),
		url('../fonts/Hoves/TTHoves-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: 'Next-Art';
	src: url('../fonts/Next-Art/NEXTART-Bold.woff') format('woff'),
		url('../fonts/Next-Art/NEXTART-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	display: swap;
}