.discounts {
  position: relative;
  .container{
    position: relative;
  }
  &__cards {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }

  &__card {
    width: 100%;
    img {
      margin-bottom: 18px;
      width: 100%;
      height: 272.5px; 
      object-fit: cover;
    }
  }
  &__card-context {
    padding: 0 10px 10px 10px;
    p {
      font-weight: 500;
      font-size: 18px;
      color: #828282;
      margin-bottom: 14px;
      overflow: hidden;
      height: 21px;
    }
    h3 {
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: 600;
      height: 50px;
      overflow: hidden;
    }

    del {
      display: block;
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 18px;
      color: #828282;
    }

    span {
      font-weight: 500;
      font-size: 20px;
      color: #cd0200;
      margin-bottom: 17px;
    }
  }

  .discounts-swiper {
    padding: 10px 10px 10px 10px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -48px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -48px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 70px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #828282;
  }
}
