.header {
  background-color: #000;
  padding: 18px 0;
  color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__burger-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #fff;
    padding: 5px 20px;
    transition: 0.3s ease;
    cursor: pointer;
    svg {
      path {
        transition: 0.3s ease;
      }
    }
    span {
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s ease;
    }

    &:hover {
      background-color: #fff;
      svg {
        path {
          stroke: #000;
        }
      }
      span {
        color: #000;
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      gap: 20px;
      align-items: center;
      li {
        a {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          transition: 0.3s ease;
          &:hover {
            color: #cd0200;
          }
        }
        &:last-child {
          background-color: red;
          padding: 12px 19px;
          transition: 0.3s ease;
          &:hover {
            background-color: #fff;
            a {
              color: #000;
            }
          }
        }
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 28px;
    a {
      font-weight: 500;
      font-size: 16px;
      &:nth-child(2) {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        font-weight: 600;
        font-size: 18px;
        padding: 12px 11px;
        transition: 0.3s ease;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }

  &__mob-wrapper{
    display: none;
  }

  &__mob-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
