.hero {
  position: relative;
  .swiper {
    &-slide {
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - 83.5px);

      .container {
        position: relative;
        height: 100%;
      }

      h3 {
        color: #fff;
        font-family: "Hoves";
        font-weight: 600;
        font-size: 50px;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        bottom: 51px;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }


  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 40px;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 40px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 16px;
  }

  .swiper-pagination-bullet-active {
    position: relative;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      border: 1px solid #fff;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: -5px;
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: #fff;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 8px;
  }
}
