.loader {
  position: fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 999999999999;
  transition: 0.5s ease-in-out;
  left: 0;
  top: 0;
}

.loader {
  svg {
    path {
      fill-opacity: 0;
      stroke-width: 2;
      stroke-dasharray: 2000px;
    }
  }
}

.loader.animating svg path {
  animation: DASH3 3s forwards;
}

.loader.disable {
  opacity: 0;
  visibility: hidden;
}

@keyframes DASH3 {
  0% {
    stroke-dashoffset: 2000px;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
