.questions {
  position: relative;
  padding: 245px 0 100px;
  overflow: hidden;
  display: block;
}

.questions.black-background {
  background-color: #191817;
}

.questions.black-background:hover .questions-text {
  color: white !important;
  opacity: 1;
}

.questions-btn svg {
  position: relative;
  z-index: 2;
}

.questions:hover .questions-btn svg path {
  fill: #fff;
}

.questions-btn {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;

  &:hover {
    background-color: #000;
  }
}

.questions-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: #000;
  border-radius: 50%;
  transition: 0.3s;
}

.questions:hover .questions-btn::before {
  width: 101%;
  height: 101%;
}

.questions-text {
  font-family: "Next-Art";
  font-weight: 700;
  font-size: 118px;
  line-height: 188px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #828282;
  opacity: 0.1;
  margin-right: 77px;
  transition: 0.3s;
}

.questions-inner {
  display: flex;
  position: absolute;
  bottom: 18%;
  animation: scroll linear infinite 40s;
  width: 4000px;
  transition: animation-play-state ease 0.3s;
}

@keyframes scroll {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-100%);
  }
}
