<section class="blog-page">
  <div class="container">
    <div class="blog-page__wrapper">
      <a href="video-review.html" class="back-btn">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.25 12H3.75"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.5 5.25L3.75 12L10.5 18.75"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <p>Назад</p>
      </a>

      <div class="blog-page__card">
        <div class="blog-page__title">
          <h2>Экомебель в скандинавском стиле</h2>
          <span>25.02.2023</span>
        </div>
        <div class="blog-page__content">
          <p>
            Мебель в скандинавском стиле набирает всё большую популярность. Это
            неудивительно, поскольку ее философия весьма органично укладывается
            в известную фразу: «Быть, а не казаться». Жители нынешней
            Скандинавии – потомки суровых, брутальных викингов. А потому они не
            приемлют наличия в интерьере декоративных изысков. Для них главное –
            качество и практичность.
          </p>

          <iframe
            width="100%"
            height="487"
            src="https://www.youtube.com/embed/576l1hrdWew?si=5Yt-xlvl2BwzRcU9"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
