<section class="category-tabs">
  <div class="container">
    <div class="category-tabs__wrapper">
      <ul>
        <li><a href="#" class="active" data-tab="1">Столы и стулья</a></li>
        <li><a href="#" data-tab="2">Стеллажи</a></li>
        <li><a href="#" data-tab="3">Мягкая мебель</a></li>
        <li><a href="#" data-tab="4">Журнальные столики</a></li>
        <li><a href="#" data-tab="5">Кресла</a></li>
        <li><a href="#" data-tab="6">Офисные кресла</a></li>
      </ul>
    </div>
  </div>
</section>
