<section class="chairs">
  <div class="container">
    <div class="chairs__wrapper">
      <h1>Столы и стулья</h1>
      <div class="chairs__user-select">
        <label for="name">Cортировка</label>
        <select id="option" name="Cортировка">
          <option value="1">Сначала новые</option>
          <option value="2 ">Сначала старые</option>
          <option value="3">Сначала доргие</option>
          <option value="4">Сначала дешевые</option>
        </select>
      </div>

      <div class="row">
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="product-page.html" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="chairs__options">
            <a href="#" class="chairs__image">
              <img src="img/chairs/item_1-1.svg" alt="" />
            </a>
            <div class="chairs__product-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
