<section class="clients">
  <div class="container">
    <div class="clients__wrapper">
      <div class="clients__title">
        <h2>Нам доверяют</h2>
      </div>

      <div class="row gy-4">
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/client.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/kunuz.png" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/clieantuz.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/client4.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/trastbank.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/texnomart.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/goodzone.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/orient.svg" alt="" />
          </div>
        </div>
        <!-- <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/najot.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/oxbridge.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/smart.svg" alt="" />
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="clients__cards">
            <img src="img/clients/orrrrr.svg" alt="" />
          </div>
        </div> -->
      </div>
      <div class="more_btn d-flex justify-content-center mt-5">
        <a href="partners.html">Смотреть все</a>
      </div>
    </div>
  </div>
</section>
