<section class="detail-page">
  <div class="container">
    <div class="detail-page__wrapper">
      <a href="categories.html" class="back-btn">
        <img src="img/detail-page/ArrowLeft.svg" alt="#" />
        <p>Назад</p>
      </a>

      <div class="row">
        <div class="col-lg-6">
          <div
            style="
              --swiper-navigation-color: #000000;
              --swiper-pagination-color: #000000;
            "
            class="swiper product-swiper2"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/detail.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical1.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical2.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical3.svg" alt="#" />
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div thumbsSlider="" class="swiper product-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/single-page.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical1.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical2.svg" alt="#" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="detail-page__image">
                  <img src="img/detail-page/practical3.svg" alt="#" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="detail-page__product-info">
            <h2>Davos Lounge Chair</h2>
            <span>1 214 000 сум</span>
            <div class="detail-page__product_characters">
              <div class="detail-page__product_card">
                <div class="detail-page__product_item-key">
                  <p>Артикул</p>
                </div>
                <div class="detail-page__product_item-value">
                  <p>5980343</p>
                </div>
              </div>
              <div class="detail-page__product_card">
                <div class="detail-page__product_item-key">
                  <p>Размеры</p>
                </div>
                <div class="detail-page__product_item-value">
                  <p>830x900x850</p>
                </div>
              </div>
              <div class="detail-page__product_card">
                <div class="detail-page__product_item-key">
                  <p>Каркас</p>
                </div>
                <div class="detail-page__product_item-value">
                  <p>березовая фанера</p>
                </div>
              </div>
              <div class="detail-page__product_card">
                <div class="detail-page__product_item-key">
                  <p>Наполнитель</p>
                </div>
                <div class="detail-page__product_item-value">
                  <p>лебяжий пух</p>
                </div>
              </div>
              <div class="detail-page__product_card">
                <div class="detail-page__product_item-key">
                  <p>Ножки</p>
                </div>
                <div class="detail-page__product_item-value">
                  <p>массив бамбука</p>
                </div>
              </div>
            </div>
            <div class="detail-page__product_view">
              <a href="#">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M28 22.1625V9.83747C27.999 9.65944 27.9512 9.48481 27.8612 9.33119C27.7712 9.17757 27.6423 9.05039 27.4875 8.96247L16.4875 2.77497C16.3393 2.6894 16.1711 2.64435 16 2.64435C15.8289 2.64435 15.6607 2.6894 15.5125 2.77497L4.5125 8.96247C4.35769 9.05039 4.22879 9.17757 4.13882 9.33119C4.04884 9.48481 4.00096 9.65944 4 9.83747V22.1625C4.00096 22.3405 4.04884 22.5151 4.13882 22.6688C4.22879 22.8224 4.35769 22.9496 4.5125 23.0375L15.5125 29.225C15.6607 29.3105 15.8289 29.3556 16 29.3556C16.1711 29.3556 16.3393 29.3105 16.4875 29.225L27.4875 23.0375C27.6423 22.9496 27.7712 22.8224 27.8612 22.6688C27.9512 22.5151 27.999 22.3405 28 22.1625V22.1625Z"
                    stroke="#191817"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M27.8624 9.32501L16.1125 16L4.13745 9.32501"
                    stroke="#191817"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M16.1125 16L16 29.35"
                    stroke="#191817"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
              <a href="#">View in your space</a>
            </div>
            <div class="detail-page__product_condition">
              <div class="detail-page__product_amount">
                <div class="detail-page__product_title">
                  <p>Количество:</p>
                </div>
                <button class="detail-page__product_quantity">
                  <div>-</div>
                  <div>1</div>
                  <div>+</div>
                </button>
              </div>
              <div class="detail-page__product_amount">
                <div class="detail-page__product_title">
                  <p>Цвет:</p>
                </div>
                <div class="detail-page__product_color">
                  <a href="#">
                    <img src="img/detail-page/color1.svg" alt="#" />
                  </a>
                  <a href="#">
                    <img src="img/detail-page/color2.svg" alt="#" />
                  </a>
                  <a href="#">
                    <img src="img/detail-page/color3.svg" alt="#" />
                  </a>
                  <a href="#">
                    <img src="img/detail-page/color4.svg" alt="#" />
                  </a>
                  <a href="#">
                    <img src="img/detail-page/color5.svg" alt="#" />
                  </a>
                </div>
              </div>
            </div>
            <a href="" class="add__btn">Оставить заявку</a>
            <div class="detail-page__media">
              <div class="detail-page__media-icons">
                <p>Поделиться</p>
                <a href="#">
                  <img src="img/detail-page/media.svg" alt="#" />
                </a>
                <a href="#">
                  <img src="img/detail-page/media1.svg" alt="#" />
                </a>
                <a href="#">
                  <img src="img/detail-page/media2.svg" alt="#" />
                </a>
              </div>
              <div class="detail-page__media-questions">
                <a href="#">
                  <p>Нужна помощь?</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-page__product_description">
        <h4>Описание</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div class="detail-page__product_example">
          <p>Смотреть обзор</p>
          <img src="img/detail-page/description.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="detail-page__services_wrapper">
    <div class="container">
      <div class="row gy-4">
        <di class="col-lg-3 col-md col-6">
          <div class="services__card">
            <img src="img/detail-page/fast-delivery.svg" alt="" />
            <p>Бесплатная доставка</p>
          </div>
        </di gy-4v>
        <di class="col-lg-3 col-md col-6">
          <div class="services__card">
            <img src="img/detail-page/fast2.svg" alt="" />
            <p>Европейские поставщики</p>
          </div>
        </di gy-4v>
        <di class="col-lg-3 col-md col-6">
          <div class="services__card">
            <img src="img/detail-page/badge.svg" alt="" />
            <p>Контроль качества</p>
          </div>
        </di gy-4v>
        <div class="col-lg-3 col-md col-6">
          <div class="services__card">
            <img src="img/detail-page/badge.svg" alt="" />
            <p>Контроль качества</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-page__offers__wrapper">
    <div class="container">
      <div class="title">
        <h2>Еще из этой категории</h2>
      </div>

      <div class="swiper category-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>   
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>   
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  
</section>
