<section class="discounts">
  <div class="container">
    <div class="discounts__wrapper">
      <div class="title" data-aos="fade-up" data-aos-duration="1500">
        <h2>Успейте купить</h2>
        <div class="icon">
          <img src="img/discounts/disc.svg" alt="" />
        </div>
      </div>
      <div class="swiper discounts-swiper" data-aos="fade-up" data-aos-duration="1500">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="discounts__cards">
              <a href="#" class="discounts__card">
                <img src="img/discounts/disc1.svg" alt="" />
              </a>
              <div class="discounts__card-context">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <del>1 215 000 сум</del>
                <span>950 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="discounts__cards">
              <a href="#" class="discounts__card">
                <img src="img/discounts/disc22.svg" alt="" />
              </a>
              <div class="discounts__card-context">
                <p>Стеллажи</p>
                <h3>Halden Lounge Chair</h3>
                <del>1 350 000 сум</del>
                <span>1 000 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="discounts__cards">
              <a href="#" class="discounts__card">
                <img src="img/discounts/disc3.svg" alt="" />
              </a>
              <div class="discounts__card-context">
                <p>Мягкая мебель</p>
                <h3>Aubrey Lounge Chair</h3>
                <del>980 000 сум</del>
                <span>780 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="discounts__cards">
              <a href="#" class="discounts__card">
                <img src="img/discounts/rec.svg" alt="" />
              </a>
              <div class="discounts__card-context">
                <p>Журнальные столики</p>
                <h3>Winston Dining Table</h3>
                <del>2 400 000 сум</del>
                <span>2 000 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </div>
</section>
