<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="index.html">
          <img src="img/header/logo.svg" alt="" />
        </a>

        <div class="header__burger-menu">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 16H27"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5 8H27"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5 24H27"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span>Меню</span>
        </div>
      </div>
      <div class="header__menu">
        <ul>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">ВИДЕООБЗОР</a></li>
          <li><a href="#">ОтзывЫ</a></li>
          <li><a href="contacts.html">АДреса</a></li>
          <li><a href="#">Скидки</a></li>
        </ul>
      </div>
      <div class="header__btns">
        <a href="#">
          <img src="img/header/cart.svg" alt="" />
        </a>
        <a href="tel:+998931022272">(93) 102-22-72</a>
        <!-- <a href="#">
                    <span>EN</span>
                </a> -->
      </div>
    </div>
    <div class="header__mob-wrapper">
      <div class="header__mob-menu">
        <a href="#">
          <img src="img/list.svg" alt="">
        </a>
        <a href="index.html" class="header__mob-logo">
          <img src="img/header/logo.svg" alt="" width="96" height="22">
        </a>
        <a href="#">
          <img src="img/Phone-call.svg" alt="">
        </a>
      </div>
    </div>
   
  </div>
</header>
