<section class="offers">
  <div class="container">
    <div class="offers__wrapper">
      <div class="title" data-aos="fade-up" data-aos-duration="1500">
        <h2>Может заинтересовать</h2>
      </div>

      <div class="swiper offers-swiper" data-aos="fade-up" data-aos-duration="1500">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
  
          <div class="swiper-slide">
            <div class="popular-products__cards">
              <a href="#" class="product-image">
                <img src="img/offers/item_1-1.svg" alt="" />
              </a>
              <div class="products-descr">
                <p>Столы и стулья</p>
                <h3>Davos Lounge Chair</h3>
                <span>1 215 000 сум</span>
                <a href="#" class="purchase_btn">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
