<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2>Нам доверяют</h2>
    </div>

    <div class="row gy-4">
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <a href="partners.html">
            <img src="img/clients/client.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/kunuz.png" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/clieantuz.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/client4.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/trastbank.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/texnomart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/goodzone.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orient.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/najot.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/oxbridge.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/smart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orrrrr.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <a href="partners.html">
            <img src="img/clients/client.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/kunuz.png" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/clieantuz.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/client4.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/trastbank.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/texnomart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/goodzone.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orient.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/najot.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/oxbridge.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/smart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orrrrr.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <a href="partners.html">
            <img src="img/clients/client.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/kunuz.png" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/clieantuz.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/client4.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/trastbank.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/texnomart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/goodzone.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orient.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/najot.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/oxbridge.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/smart.svg" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="clients__cards">
          <img src="img/clients/orrrrr.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="partners__offer">
      <div class="partners__offer-wrapper">
        <h3>Хотите стать нашим партнером?</h3>
        <p>
          Обмен Товара надлежащего качества: Товар надлежащего качества возврату
          не подлежит. Возврату не подлежат (не принимаются обратно) товары
          надлежащего качества, согласно Приложения 1 к Правилам розничной
          торговли Республики Узбекистан, утвержденное
        </p>
        <a href="#">Оставить заявку</a>
      </div>
    </div>
  </div>
</section>
