<section class="products" data-aos="fade-up" data-aos-duration="1500">
  <div class="container">
    <div class="products__catalog">
      <div class="row">
        <div
          class="col-md-6 col-12"
          data-aos="fade-down-right"
          data-aos-duration="1500"
        >
          <a href="categories.html" class="products__categories">
            <img src="img/products/products-1.svg" alt="" />
            <h2>Столы и стулья</h2>
          </a>
        </div>

        <div
          class="col-md-6 col-12"
          data-aos="fade-down-left"
          data-aos-duration="1500"
        >
          <a href="categories.html" class="products__categories">
            <img src="img/products/products-2.svg" alt="" />
            <h2>Стеллажи</h2>
          </a>
        </div>

        <div
          class="col-md-6 col-12"
          data-aos="fade-up-right"
          data-aos-duration="1500"
        >
          <a href="categories.html" class="products__categories">
            <img src="img/products/products-3.svg" alt="" />
            <h2>Мягкая мебель</h2>
          </a>
        </div>

        <div
          class="col-md-6 col-12"
          data-aos="fade-up-left"
          data-aos-duration="1500"
        >
          <a href="categories.html" class="products__categories">
            <img src="img/products/products-4.svg" alt="" />
            <h2>Журнальные столики</h2>
          </a>
        </div>
      </div>

      <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
        <a href="categories.html" class="products__btn">Все категории</a>
      </div>
    </div>
  </div>
</section>
