<section class="recommended">
  <div class="container">
    <div class="title">
      <h2>Рекомендованные товары</h2>
      <div class="icon">
        <img src="img/recommended/ThumbsUp.svg" alt="" />
      </div>
    </div>

    <div class="swiper recommended-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Столы и стулья</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Стеллажи</p>
              <h3>Halden Lounge Chair</h3>
              <span>1 350 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Журнальные столики</p>
              <h3>Aubrey Lounge Chair</h3>
              <span>980 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Winston Dining Table</h3>
              <span>2 400 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="popular-products__cards">
            <a href="#" class="product-image">
              <img src="img/recommended/rec.svg" alt="" />
            </a>
            <div class="products-descr">
              <p>Мягкая мебель</p>
              <h3>Davos Lounge Chair</h3>
              <span>1 215 000 сум</span>
              <a href="#" class="purchase_btn">Купить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
