<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <h2>НАШИ преимущества</h2>
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 col-6">
          <div class="services__card">
            <img src="img/services/icon1.svg" alt="" />
            <p>Экологически чистые и безопасные материалы</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="services__card">
            <img src="img/services/ser2.svg" alt="" />
            <p>Европейские поставщики тканей и фурнитур</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="services__card">
            <img src="img/services/ser3.svg" alt="" />
            <p>Контроль качества на каждом этапе производства</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <div class="services__card">
            <img src="img/services/ser4.svg" alt="" />
            <p>Эксклюзивная мебель для уникального интерьера</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
