<section class="videoblog">
  <div class="container">
    <div class="videoblog__wrapper">
      <h2>ВИДЕОБЛОГ</h2>

      <div class="row g-xl-5 g-md-3">
        <div class="col-md-6 col-12">
          <div class="videoblog__cards">
            <a href="video-review.html">
              <img src="img/videoblog/vid.svg" alt="" />
              <p>Экомебель в скандинавском стиле</p>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="videoblog__cards">
            <a href="video-review.html">
              <img src="img/videoblog/video2.svg" alt="" />
              <p>Освещение в стиле лофт</p>
            </a>
          </div>
        </div>
      </div>

      <div class="more_btn d-flex justify-content-center">
        <a href="video-review.html">Смотреть все</a>
      </div>
    </div>
  </div>
</section>
