<section class="video-review">
  <div class="container">
    <div class="video-review__wrapper">
      <h2>Видеообзоры</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="blog-page.html">
              <img src="img/videoblog/vid.svg" alt="" />
              <p>Экомебель в скандинавском стиле</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/video2.svg" alt="" />
              <p>Освещение в стиле лофт</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/vid.svg" alt="" />
              <p>Экомебель в скандинавском стиле</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/video2.svg" alt="" />
              <p>Освещение в стиле лофт</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/vid.svg" alt="" />
              <p>Экомебель в скандинавском стиле</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/video2.svg" alt="" />
              <p>Освещение в стиле лофт</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/vid.svg" alt="" />
              <p>Экомебель в скандинавском стиле</p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="videoblog__cards">
            <a href="#">
              <img src="img/videoblog/video2.svg" alt="" />
              <p>Освещение в стиле лофт</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>